@import "abstract/vendorvariables";
@import "vendors/bootstrap/bootstrap";


@import "abstract/variables";

body {
  display: block;
  background-color: grey;



};
section {
  margin: 50px;
  justify-content: center;
  div {

  }
  img {
    width: 90%;
    justify-content: center;
  }
};
